extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/home.css')

block content
  .container
    input#searchval
    a#search(href="#") Search
  
block sidebar
  ol
    li: a(href='#')
    
block scripts
  script(src='/javascript/home.js')