doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block stylesheets
  body
    block content
        
    block sidebar  
    footer Running on node with Express and Jade
    
  script(src='/javascript/jquery-2.1.3.min.js')
  block scripts